@charset "utf-8";
.login-frame {
	width: 1000px;
	height: 350px;
	margin: auto auto;
	border:grey 1px solid;
}
.title {
	height: 30px;
	line-height: 30px;
	color:  #3164af;
	font-family: "Microsoft YaHei";
	font-size: 24px;
	margin: 5px 0;
}
.title1 {
	color: #d8d8d8;
	font-size: 18px
}
.span3, .span4 {
	_display: inline;
	float: left;
	overflow: hidden;
}
.ad {
	height: 300px;
	width: 650px;
	margin: 5px 10px;
}
.login-form {
	min-height: 280px;
	margin: 10px auto;
	font-size: 24px;
	background:white;
}
.login-form table{
	margin:15px 10px;
	}
table tr {
	height: 75px;
	overflow: hidden;
}

/******
#submit, #reset {
	width: 70px;
	height: 40px;
	border:blue 1px solid;
	background: #FF3D40;
	font-size:24px;
}  *******/
.mes{
	font-size:18px;
	text-align:right;
	}
.mes a{
	color:grey;
	}
.mes a:hover{
	color:red;
	}